Package: ubuntu-plasma-theme
Version: 1.0.2
Architecture: amd64
Maintainer: Usarin Heininga <usarinheininga@hotmail.com>
Installed-Size: 4995
Depends: material-decoration, latte-dock, latte-indicators, ubuntu-plasma-applets
Section: kde
Priority: optional
Homepage: https://github.com/uszie/ubuntu-plasma-theme
Description: Ubuntu Plama Theme
 This theme package provides a plasma theme, an icon set and a color scheme.
 It's based on Breeze but uses ubuntu colors.
