[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=3
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=5
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.discover.desktop
manualScrollTasksType=Disabled

[Containments][1][Applets][26]
immutability=1
plugin=org.kde.plasma.umenu

[Containments][1][Applets][26][Configuration]
PreloadWeight=33

[Containments][1][Applets][26][Configuration][General]
appNameFormat=3
favoritesFirst=true
favoritesPortedToKAstats=true

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=2;26
backgroundShadowSize=5
customBackgroundColor=#1d1d1d
customForegroundColor=#f7f7f7
panelPosition=Top
panelSize=100
panelTransparency=70
shadowOpacity=50
shadowSize=30
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=2
tasksUpgraded=true
themeColors=CustomThemeColors
thickMargin=0
zoomLevel=0

[Containments][1][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
type=org.kde.latte.dashtopanel

[Containments][1][Indicator][org.kde.latte.dashtopanel][General]
lengthPadding=0.03
lineThickness=0.05

[Containments][11]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][4]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][4][Applets][10]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][4][Applets][10][Configuration]
PreloadWeight=67
SystrayContainmentId=11

[Containments][4][Applets][24]
immutability=1
plugin=org.kde.plasma.userswitcher

[Containments][4][Applets][24][Configuration]
PreloadWeight=38

[Containments][4][Applets][30]
immutability=1
plugin=org.kde.latte.spacer

[Containments][4][Applets][30][Configuration]
PreloadWeight=0

[Containments][4][Applets][30][Configuration][General]
containmentType=Latte
lengthPixels=64

[Containments][4][Applets][31]
immutability=1
plugin=org.kde.windowappmenu

[Containments][4][Applets][31][Configuration]
PreloadWeight=0

[Containments][4][Applets][31][Configuration][General]
containmentType=Latte
filterByActive=false
filterByMaximized=true
supportsActiveWindowSchemes=true

[Containments][4][Applets][32]
immutability=1
plugin=org.kde.windowbuttons

[Containments][4][Applets][32][Configuration]
PreloadWeight=0

[Containments][4][Applets][32][Configuration][General]
buttons=3|4|5|10|2|9
containmentType=Latte
lengthFirstMargin=4
lengthLastMargin=4
selectedPlugin=
selectedScheme=kdeglobals
spacing=6
visibility=ActiveMaximizedWindow

[Containments][4][Applets][33]
immutability=1
plugin=org.kde.latte.separator

[Containments][4][Applets][33][Configuration]
PreloadWeight=0

[Containments][4][Applets][33][Configuration][General]
lengthMargin=5

[Containments][4][Applets][34]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][4][Applets][34][Configuration]
PreloadWeight=67

[Containments][4][Applets][34][Configuration][Appearance]
customDateFormat=MMM d
dateFormat=customDate
enabledCalendarPlugins=/usr/lib/x86_64-linux-gnu/qt5/plugins/plasmacalendarplugins/holidaysevents.so
fixedFont=true
fontSize=16
showSeparator=false
showWeekNumbers=true

[Containments][4][Configuration]
PreloadWeight=0

[Containments][4][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=30;31;34;24;10;33;32
appletShadowsEnabled=false
autoDecreaseIconSize=false
backgroundShadowSize=5
customBackgroundColor=#1d1d1d
customForegroundColor=#f7f7f7
disablePanelShadowForMaximized=true
dragActiveWindowEnabled=true
iconSize=24
panelPosition=10
panelSize=100
shadowOpacity=40
shadowSize=45
shadowsUpgraded=true
shrinkThickMargins=true
splitterPosition=2
splitterPosition2=4
tasksUpgraded=true
themeColors=CustomThemeColors
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][4][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
type=org.kde.latte.default

[Containments][4][Indicator][org.kde.latte.dashtopanel][General]
isReversed=true

[LayoutSettings]
activities=
backgroundStyle=0
color=purple
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=
lastUsedActivity=3577ecae-3f36-42f2-8ead-57cee2b48f0c
launchers=
preferredForShortcutsTouched=false
showInMenu=true
version=2
