[Desktop Entry]
Name=Ubuntu

X-KDE-PluginInfo-Name=Ubuntu
X-KDE-PluginInfo-Author=Ubuntu Artwork Team
X-KDE-PluginInfo-Email=ubuntu-art@lists.ubuntu.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
